#Team 1
#CIT 470 
#Members: David Geis, Clay Dempsey, Sean Hasenstab
#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens33 --gateway=10.2.6.1 --ip=10.2.7.229 --nameserver=10.14.1.10,10.11.0.51 --netmask=255.255.254.0 --ipv6=auto --activate
network  --hostname=cit470-001baldwinf1server.hh.nku.edu
# Reboot after installation
reboot
# Root password *** CHECK THE ROOT PW***
rootpw --plaintext 2_Team 
# System services
services --enabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone America/New_York --isUtc
# Add users
user --homedir=/home/hasenstabs --name=hasenstabs --password=Lemontree2020! --iscrypted --shell=/bin/bash --gecos="Sean Hasenstab" 
user --homedir=/home/geisd --name=geisd --password=Lemontree2020! --iscrypted --shell=/bin/bash --gecos="David Geis"
user --homedir=/home/ --name=dempseyc --password=Lemontree2020! --iscrypted --shell=/bin/bash --gecos="Clay Dempsey"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /var --fstype="xfs" --ondisk=sda --size=2500
part swap --fstype="swap" --ondisk=sda --size=512
part / --fstype="xfs" --ondisk=sda --size=7500

%post --interpreter=/usr/bin/bash --log=/root/post_install.log
set -x
echo "################################"
echo "# Running Post Configuration   #"
echo "################################"

yum update -y

%end

%packages
@^minimal
@core
chrony
kexec-tools
net-tools
vim
bzip2
ftp
wget

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
%end
